<h4>9 Consejos para afrontar la depresión</h4>
<p>Algunas de las siguientes recomendaciones pueden ser útiles a la hora de superar esta enfermedad:</p>
<div class="row">
    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/oneAdvice.jpg" height="150" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title"> 1. Habla y desahógate</h5>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/twoAdvice.jpg" height="150" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title"> 2. No tomes decisiones precipitadas</h5>
        </div>
    </div>
    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/threeAdvice.jpg" height="150" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">3. Sé sincero</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/fourAdvice.jpg" height="150" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title"> 4. Piensa en positivo</h5>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/fiveAdvice.jpg" height="150"  class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title"> 5. No te encierres en ti mismo</h5>
        </div>
    </div>
    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/sixAdvice.jpg" height="150" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">6. Muévete</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/sevenAdvice.jpg" height="150" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title"> 7. Come y duerme bien</h5>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/eightAdvice.jpg" height="150" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title"> 8. Intenta evitar el estrés</h5>
        </div>
    </div>
    <div class="card col-4" style="width: 18rem;">
        <img src="../../assets/img/ninneAdvice.jpg" height="150"  class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">9. No abuses del alcohol u otras drogas</h5>
        </div>
    </div>
</div>