<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between px-3">
    <div class="navbar-brand mb-0">
        <img src="../../../assets/img/logo.png" width="90" class="d-inline-block align-middle me-2" alt="logo">
        Portal de Salud Mental "Depresión"
    </div>
    <div class="justify-content-end">
        <button (click)="rutas('/inicio')" class="btn btn-outline-light my-5 my-sm-0" type="submit">
            <i class="fas fa-home fa-2x"></i>
        </button>
        - 
        <button (click)="rutas('/registrar')" class="btn btn-outline-light my-2 my-sm-0" type="submit">
            <i class="fas fa-user fa-2x"></i>
        </button>
    </div>
</nav>