p{
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

li{
    font-size: 16px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.badgeTipo{
    color: black;
    font-weight: 400;
    text-align: center;
    border-radius: 15px;
    padding: 0.5rem;
}