.wrapper{
    min-height: 100%;
    position: relative;
   // background: url('../assets/img/fondo.png');
}
.container{
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
    min-width: 100%;
}