<h4>Sección de Noticias</h4>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/img/new1.jpeg" class="d-block w-100" alt="New one">
        <div class="carousel-caption d-none d-md-block">
          <h5>Minsa advierte que la tasa de suicidio está en aumento en el Perú</h5>
          <p>Más de 200 peruanos se autoeliminaron en los primeros cuatro meses de este año y según la OMS, cada 40 segundos se suicida una persona. 
              <a href="https://www.gob.pe/institucion/minsa/noticias/490446-minsa-advierte-que-la-tasa-de-suicidio-esta-en-aumento-en-el-peru">
                Ver más
            </a></p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/img/new2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Problemas de salud mental crecen de forma silenciosa</h5>
          <p>Como resultado de los casos confirmados y fallecimientos a consecuencia de la pandemia por la COVID-19, la población en general y el personal de salud experimentan -casi silenciosamente- problemas psicológicos, siendo los más comunes la ansiedad, depresión y estrés.
            <a href="https://www.minsa.gob.pe/newsletter/2021/edicion-71/nota4/index.html">
              Ver más
          </a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/new3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>La depresión y el suicidio: Mitos y Creencias</h5>
          <p>Dentro del estudio epidemiológico que realizó el Instituto Nacional de Salud Mental en el 2002, se detectó que el 48,2% de la población peruana con problemas depresivos no recibió atención médica, solo el 18,4% la recibió quedando un 33,4% que no lo percibió como problema de salud mental.
          <a href="https://www.insm.gob.pe/oficinas/comunicaciones/notasdeprensa/2012/006.html">
            Ver más
        </a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
