<div class="container">
    <div (click)="rutas('/información')" class="card mb-4 text-white bg-blue-80">
        <div class="card-body">
            <div class="row mb-2">
                <div class="icono col-2 text-center">
                    <i class="fas fa-file-invoice fa-2x "></i>
                </div>
                <div class="col-10 ps-5">
                    <h4 class="card-title">Información</h4>
                </div>                
            </div>            
            <p class="card-text">Aprende más de la depresión</p>
        </div>
    </div>
    <div (click)="rutas('/noticias')" class="card text-white mb-4 bg-blue-70">
        <div class="card-body">
            <div class="row mb-2">
                <div class="icono col-2 text-center">
                    <i class="fas fa-newspaper fa-2x"></i>
                </div>
                <div class="col-10 ps-5">
                    <h4 class="card-title">Noticias</h4>
                </div>                
            </div>            
            <p class="card-text">Informate de la actualidad</p>
        </div>
    </div>
    <div (click)="rutas('/consejos')" class="card text-white mb-4 bg-blue-60">
        <div class="card-body">
            <div class="row mb-2">
                <div class=" icono col-2 text-center">
                    <i class="fas fa-comment-medical fa-2x"></i>
                </div>
                <div class="col-10 ps-5">
                    <h4 class="card-title">Consejos</h4>
                </div>                
            </div>            
            <p class="card-text">Revisa los tips y sugerencias</p>
        </div>
    </div>
    <div (click)="rutas('/actividades')" class="card text-white mb-4 bg-blue-50">
        <div class="card-body">
            <div class="row mb-2">
                <div class="icono col-2 text-center">
                    <i class="fas fa-calendar-alt fa-2x"></i>
                </div>
                <div class="col-10 ps-5">
                    <h4 class="card-title">Mis actividades</h4>
                </div>                
            </div>            
            <p class="card-text">Registra tu rutina</p>
        </div>
    </div>    
    <div  (click)="rutas('/diario')" class="card text-white mb-0 bg-blue-40">
        <div class="card-body">
            <div class="row mb-2">
                <div class="icono col-2 text-center">
                    <i class="fas fa-book fa-2x"></i>
                </div>
                <div class="col-10 ps-5">
                    <h4 class="card-title">Mi diario</h4>
                </div>                
            </div>            
            <p class="card-text">Registra tus pensamientos</p>
        </div>
    </div>   
</div>