<div class="text-center mb-5">
    <h3 style="color: #8a3ffc; font-weight: bold;">La vida no es gris es del color que tu quieras!</h3>
</div>
<div class="row">
    <div class="col-8">
        <img src="../../assets/img/home_img.png" width="380" class="d-inline-block align-middle img-fluid" alt="logo"> 

    </div>
    <div class="col-4">
        <h4> Empieza ahora y realiza tu test de depresión con nuestro asistente virtual. 
            </h4>
            <h4 class="mt-3"><em style="color: #0f62fe;">"AidBot"</em> Fue diseñado para ayudarte a conocerte mejor</h4>
    </div>   
</div>
